
@{
    ViewBag.Title = "Cilps";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Cilps</h2>

<h6>Dodgers vs Gaints</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Z_SkdXnEyNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h6>Dodgers vs. Braves</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FZ2DM304fuE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>