
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/Photos/LA Dodger 1.png"  width="200" height="200"/>
<h2>History of Los Angelese Dodgers</h2>

<p>The Dodgers were founded in 1883 as the Brooklyn Atlantics, borrowing the name of a defunct team that had played in Brooklyn before them. The team joined the American Association in 1884 and won the AA championship in 1889 before joining the National League in 1890.</p>
<p>Brooklyn developed a natural rivalry with Manhattan’s New York Giants following their move to the NL, which became one of the game’s most renowned and enduring feuds, even after each team’s relocation to California in 1958. In 1913 the team moved into Ebbets Field, an intimate ballpark that served as the home of the Dodgers until 1957. The team was known as the Grays, the Bridegrooms, the Superbas, and the Robins before they settled on the name Dodgers in 1932.</p>