
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<img src="~/Photos/LA Dodger 1.png"  width="200" height="200"/>
<h2>History of Los Angelese Dodgers</h2>

<h6>1920-1930s</h6>
<p>The Dodgers were founded in 1883 as the Brooklyn Atlantics, borrowing the name of a defunct team that had played in Brooklyn before them. The team joined the American Association in 1884 and won the AA championship in 1889 before joining the National League in 1890.</p>
<p>Brooklyn developed a natural rivalry with Manhattan’s New York Giants following their move to the NL, which became one of the game’s most renowned and enduring feuds, even after each team’s relocation to California in 1958. In 1913 the team moved into Ebbets Field, an intimate ballpark that served as the home of the Dodgers until 1957. The team was known as the Grays, the Bridegrooms, the Superbas, and the Robins before they settled on the name Dodgers in 1932.</p>

<h6>1940s-1950s</h6>
<p>
    The Dodgers won NL pennants in 1941, 1947, 1949, 1952, and 1953 but lost the World Series to the crosstown New York Yankees each time, earning the Dodgers the affectionate nickname “Dem Bums” and precipitating their fans’ famous annual lament, “Wait ’til next year.” In the midst of this run, the Dodgers made history in April 1947 by calling up African American third baseman Jackie Robinson (who had been signed to a minor league contract by the pioneering Dodgers general manager Branch Rickey two years earlier), shattering Major League Baseball’s long-standing colour barrier. In 1955 the Dodgers finally bested the Yankees and won the franchise’s first World Series title behind a lineup led by future Hall of Famers Robinson, Roy Campanella, Pee Wee Reese, and Duke Snider. Despite the team’s enduring popularity in Brooklyn—they finished first or second in NL attendance in seven of the nine seasons between 1949 and 1957—team owner Walter O’Malley moved the franchise to Los Angeles in 1958 in order to capitalize on the financial windfall that was likely to come from Major League Baseball’s expansion to West Coast markets.

</p>
<h6>1960s-1970s</h6>
<p>The Dodgers were an instant success in their new home, setting numerous NL attendance records at Dodger Stadium, which was located in scenic Chavez Ravine, a few miles outside downtown Los Angeles. The Dodgers won World Series championships in 1959, 1963, and 1965 behind the clutch pitching of stars Sandy Koufax and Don Drysdale and the speed of base-stealing sensation Maury Wills. The team won three NL pennants in the 1970s (1974, 1977, and 1978) but failed to capture a World Series title in that decade. Toward the end of the 1976 season, manager Walter Alston—who had guided the team to each of its first four world championships—retired abruptly and was replaced by a fellow future Hall of Famer, Tommy Lasorda.</p>
<h6>1970s-1980s</h6>
<p>
    In 1981 the Dodgers acquired pitcher Fernando Valenzuela, who became the first player to win both Cy Young and Rookie of the Year awards in the same season, on his way to leading the Dodgers to their fifth World Series win, in 1981. Veteran slugger Kirk Gibson joined NL Cy Young Award-winning pitcher Orel Hershiser in 1988. At the end of that season, the Dodgers defeated the Oakland A’s in the World Series, which featured a dramatic game-winning pinch-hit home run by Gibson in game one.

</p>
<h6>1980s-1990s</h6>
<p>
    Despite the presence of such popular stars as Mike Piazza and Hideo Nomo in subsequent years, the Dodgers have not won an NL pennant since 1988; the current streak is the franchise’s longest in more than 60 years. In 2008 the Dodgers finished the major league season as one of the hottest teams in baseball, as first-year manager Joe Torre and mid-season acquisition Manny Ramirez rallied the team to a late-season surge that resulted in the Dodgers’ winning the NL Western Division title. Los Angeles lost in the NL Championship Series (NLCS) in both 2008 and 2009, however, and Torre and Ramirez both left the team in 2010.

</p>

<h6>1990s-2000s</h6>
<p>While the Dodgers were in the midst of their successful run in 2008–09, the franchise’s ownership was awash in turmoil. Team owner Frank McCourt filed for divorce from his wife, Jamie, in 2009, precipitating a long and acrimonious legal battle over what percentage—if any—of the Dodgers Jamie was entitled to own. The prolonged legal proceedings began to take a significant toll on the storied franchise’s finances and reputation, and in April 2011 Major League Baseball seized control of the team’s day-to-day operations. In May 2012 the Dodgers were sold to a group that included basketball great Magic Johnson for $2.15 billion, which was at the time the most money ever paid for a professional sports franchise.</p>

<h6>2000s-2020s</h6>
<p>The new ownership allowed the team to spend freely in the off-season, and in 2013 a revamped Dodgers team featuring star pitcher Clayton Kershaw won a division title but was again eliminated in the NLCS. In 2014, with the highest payroll in baseball ($235 million), the Dodgers again won a division title but were eliminated in the team’s first playoff series, a result the team repeated in 2015 with an even higher payroll (a major league record $298.5 million). In 2016 the Dodgers won their fourth straight division title and advanced to the NLCS, where the team lost to the Chicago Cubs. Los Angeles bettered that result the following season by advancing to the team’s first World Series appearance in 29 years, where the Dodgers lost a thrilling seven-game series to the Houston Astros. The Dodgers won a sixth consecutive division title in 2018 and again advanced to the World Series, where they lost a five-game series to the Boston Red Sox.</p>