
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
>
<h2>Home</h2>
<p>Your best source for quality Los Angeles Dodgers news, rumors, analysis, stats and scores from the fan perspective.</p>
<img src="~/Photos/Player 1.jpg" height="300" width="300" />
<p>Find the latest Los Angeles Dodgers news, rumors, trades, free agency updates and more from the insider fans and analysts</p>
<img src="~/Photos/la doDG ER.jpg"  height="200" width="200"/>
<p>
    Well, Los Angeles Dodgers fans could really blame the division-rival San Diego Padres for this, but the New York Mets really went over the edge.

</p>
<p>Last offseason, in an effort to ensure the face of their franchise would remain in town for as long as possible, the Pads signed Fernando Tatis Jr. to a 14-year, $340 million contract. Truthfully, we can’t even knock it. Brilliant move. Pay for all of his prime years and then escape the deal before he turns 36 years old.</p>
<img src="~/Photos/Player 1.jpg" height="400" width="400" />